<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ university['name'] }}</title>
    <style>
        #university_info div {
            display: none;
        }
    </style>
</head>
<body style="background-color: lightgoldenrodyellow">
    <h1>{{ university['name'] }}</h1>
    <img src="{{ university['image'] }}" style = "width: 500px;" alt="{{ university['name'] }} image"> 
    <p>{{ university['location'] }}</p>
    <button onclick="toggle('program_overview')">Program Overview</button>
    <button onclick="toggle('degree_options')">Degree Options</button>
    <button onclick="toggle('coop_option')">Co-op Option</button>
    <button onclick="toggle('admission_requirements')">Admission Requirements</button>
    <button onclick="toggle('program_structure')">Program Structure</button>
    <button onclick="toggle('research_opportunities')">Research Opportunities</button>
    <button onclick="toggle('facilities_and_resources')">Facilities and Resources</button>
    <button onclick="toggle('career_prospects')">Career Prospects</button>

    <div id="university_info">
        <div id="program_overview">
            <h2>Program Overview</h2>
            <p>{{ university['program_overview'] }}</p>
        </div>

        <div id="degree_options">
            <h2>Degree Options</h2>
            <p>{{ university['degree_options'] }}</p>
        </div>

        <div id="coop_option">
            <h2>Co-op Option</h2>
            <p>{{ university['coop_option'] }}</p>
        </div>

        <div id="admission_requirements">
            <h2>Admission Requirements</h2>
            <p>{{ university['admission_requirements'] }}</p>
        </div>

        <div id="program_structure">
            <h2>Program Structure</h2>
            <p>{{ university['program_structure'] }}</p>
        </div>

        <div id="research_opportunities">
            <h2>Research Opportunities</h2>
            <p>{{ university['research_opportunities'] }}</p>
        </div>

        <div id="facilities_and_resources">
            <h2>Facilities and Resources</h2>
            <p>{{ university['facilities_and_resources'] }}</p>
        </div>

        <div id="career_prospects">
            <h2>Career Prospects</h2>
            <p>{{ university['career_prospects'] }}</p>
        </div>
    </div>

    <script>
        function toggle(id) {
            var sections = ['program_overview', 'degree_options', 'coop_option', 'admission_requirements', 'program_structure', 'research_opportunities', 'facilities_and_resources', 'career_prospects'];
            for (var i = 0; i < sections.length; i++) {
                document.getElementById(sections[i]).style.display = 'none';
            }
            document.getElementById(id).style.display = 'block';
        }

    </script>
</body>
</html>
